:root {
    --dark-purple: #756AB6;
    --light-purple: #AC87C5;
    --plink: #E0AED0;
    --pink: #FFE5E5;
    background-color: var(--pink);
}

/* body {
    background-image: url("/static/images/Mockup_01.png");
} */

#map {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 2;
}

#work-map {
    z-index: 2;
}

p, h1 {
    color: var(--dark-purple);
}

#btn, #pop-up {
    position: absolute;
    margin-left: 0;
    top: 0px;
}

.popup {
    background-color: var(--light-purple);
    z-index: 100;
}

#na {
    outline: solid 2px var(--dark-purple);
    height: 400px;
    width: 600px;
    z-index: 100;
}