:root {
    --dark-purple: #756AB6;
    --light-purple: #AC87C5;
    --plink: #E0AED0;
    --pink: #FFE5E5;
    background-color: var(--pink);
}

#map {
    width: 100%;
    height: 100%;
}

p, h1 {
    color: var(--dark-purple);
}
