<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <nav>

        </nav>
    </head>
    <body>
    <img src="/static/images/Mockup_01.png" id="map" alt="map" usemap="#workmap"></img>
        
        
    <h1 popover id="pop">Get Popped</h1>
    <button id="pop-btn" popovertarget="pop">Click me!</button>

    <div id="na" class="popup" popover>
        <div class="popup-content">
            <h1>north america! </h1>
            <p>This is a popup box!</p>
            <button id="closePopup" onclick="hidePopup('na')">Close</button>
        </div>
    </div>
    <div id="sa" class="popup" popover>
        <div class="popup-content">
            <h1>south america! </h1>
            <p>This is a popup box!</p>
            <button id="closePopup" onclick="hidePopup('sa')">Close</button>
        </div>
    </div>
    <div id="eu" class="popup" popover>
        <div class="popup-content">
            <h1>europe ! </h1>
            <p>This is a popup box!</p>
            <button id="closePopup" onclick="hidePopup('eu')">Close</button>
        </div>
    </div>
    <div id="as" class="popup" popover>
        <div class="popup-content">
            <h1>australia! </h1>
            <p>This is a popup box!</p>
            <button id="closePopup" onclick="hidePopup('as')">Close</button>
        </div>
    </div>
    <div id="af" class="popup" popover>
        <div class="popup-content">
            <h1>africa ! </h1>
            <p>This is a popup box!</p>
            <button id="closePopup" onclick="hidePopup('af')">Close</button>
        </div>
    </div>
    <div id="au" class="popup" popover>
        <div class="popup-content">
            <h1>australia ! </h1>
            <p>This is a popup box!</p>
            <button id="closePopup" onclick="hidePopup('au')">Close</button>
        </div>
    </div>
    <div id="as" class="popup" popover>
        <div class="popup-content">
            <h1>asia ! </h1>
            <p>This is a popup box!</p>
            <button id="closePopup" onclick="hidePopup('as')">Close</button>
        </div>
    </div>

    <map name="workmap" id="work-map">
        <area shape="rect" coords="200, 200, 400, 400" onclick="showPopup('na')">
        <area shape="rect" coords="400, 600, 600, 900" onclick="showPopup('sa')">
        <area shape="rect" coords="800, 100, 1000, 400" onclick="showPopup('eu')">
        <area shape="rect" coords="800, 400, 1000, 1200" onclick="showPopup('af')">
    </map>
      
    <script>
    function showPopup(popupId) {
        var popup = document.getElementById(popupId);
        // alert(popupId);
        popup.style.display = "block";
        popup.style.position =  "relative";
    }

    // Function to hide pop-up
    function hidePopup(popupId) {
        // alert("hidden");
        var popup = document.getElementById(popupId);
        popup.style.display = "none";
        popup.style.position =  "relative";
    }

    // Hide pop-up when clicking outside
    // window.addEventListener("click", function(event) {
    //     if (!event.target.closest('.popup')) {
    //     hidePopup("na");
    //     }
    //  });
    </script>

    </body>
</html>